<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mejl</title>
    <style>
        body{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin: 0;
            padding: 0;
           
            
        }
        .div1{
            background-color: #0087FF;
            padding-bottom: 10px;
            border-bottom: 3px solid gold;
            max-width: 600px;  
        }
        .website{
            display: inline-block;
            color: aliceblue;
            text-decoration: none;
            font-size: 32px;
            text-align: center;
            padding-top: 10px;
        }
        .div2{
            display: block;
            background-color: white;
            padding-bottom: 10px;
            padding-top: 50px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        }
        .p1{
            font-size: 20px;
        }
        .div3{
            background-color: #0087FF;
            padding-top: 1px;
            max-width: 600px;  
            padding-bottom: 30px;
            color: white;
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

        }
        .p3{
            font-size: 20px;

        }
        .p4{
            padding-top: 10px;
        }
        .div4{
            padding-top: 30px;
            padding-bottom: 10px;
        }
        .button{
            background-color: #224BE4;
            border: none;
            color: white;
            border-radius: 5px;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block; 
            font-size: 16px;
            cursor: pointer;
        }
        .button:hover {
            transform: translateY(-3px);
            box-shadow: 0 0 10px #224BE4;
        }
        .button:active {
            transform: translateY(3px);
            box-shadow: 0 0 15px #224BE4;
        }
        .footer{
            display: flex;
            position: fixed;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            bottom: 0;
            width: 100%;
            background-color: #0087FF;
            color: aliceblue;
            text-align: center;
            padding-top: 20px;
            max-width: 600px;
            height: 50px;
            left: 0;
            right: 0;
            margin: auto;
            border-top: 2px solid gold;
        }
        .footer-logos{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        .footer-logos img {
            justify-content: center;
            width: 40px;
            height: 40px;
            margin: 0 10px;
        }
        @media only screen and (max-width: 600px) {
         body {
             font-size: 16px;
         }
        }   

    </style>
</head>
<body>
    <center>
    <div class="div1">
        <a class="website" href="mywebsite.com">mywebsite.com</a>
    </div>

    <div class="div2">
        <p class="p1">Hey {{name}}</p>
        <p class="p2">Your post have new comment:</p>
    </div>

    <div class="div3">
        <p class="p3">Title: {{title}}</p>
        <p class="p4">Content: {{content}}</p>
    </div>

    <div class="div4">
        <a href='{{urlApprove}}' class='button'>Approve</a> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a href='{{urlDontApprove}}' class='button'>Don't approve</a> 
    </div>
        <div class="footer">
           
            <div class="footer-logos">
                <a href="https://www.facebook.com/mywebsite/" target="_blank">
                    <img src="cid:facebook" alt="Facebook logo">
                  </a>
                  <a href="https://www.mywebsitee.com/" target="_blank">
                    <img src="cid:home" alt="Instagram logo">
                  <a href="https://www.instagram.com/mywebsite/" target="_blank">
                    <img src="cid:instagram" alt="Instagram logo">
                  </a>

            </div>
    </div>
</center>
</body>
</html>